<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almamater</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Header Section -->
    <header class="main-header">
        <nav class="navbar">
            <div class="logo" onclick="window.location.href = `/`">
                <span class="logo-text">alma mater</span>
                <span class="logo-subtitle">made for NIT Trichy</span>
            </div>
            <div class="nav-buttons">
                <a href="/rideshare" class="nav-btn rideshare-btn">Ride sharing</a>
                <a href="/marketplace" class="nav-btn marketplace-btn">Market Place</a>
                <a href="/login" class="nav-btn login-btn" id = login-btn>Login</a>
            </div>
        </nav>
    </header>
    <section class="hero">
        <div id="mini-map"></div>
        <div class="details-container">
            <p1 id="username-display">Username: </p1>
            <br>
            <p1 id="phone-display">Phone: </p1>
            <div>
                <button id="change-ride-btn" onclick="change_ride()">Change Ride</button>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="static/images/crown-logo.png" alt="Crown" class="crown-icon">
                <span>Made for NIT Trichy</span>
            </div>
            <nav class="footer-nav">
                <a href="#terms">Terms and Conditions</a>
                <a href="#privacy">Privacy Policy</a>
                <a href="#refunds">Refunds</a>
                <a href="#contact">Contact Us</a>
                <a href="#shipping">Shipping and Delivery</a>
            </nav>
        </div>
    </footer>
    <script src="static/js/user_ride.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb8rkkDeTzK-X_zyqfxAorLFxueQAeMgE&libraries=places,gmp-components&v=beta&callback=initMap"></script>
</body>
</html>